.navTab {
    text-align: center;
    height: 50px;
    border-bottom: solid 1px #ddd;
    background-color: #2eb076;
    color: #fff;
}

.navTab:hover:not(.activeTab) {
    background-color: #1ea070;
    border-bottom: none;
}


.activeTab {
    border: solid #ddd 1px;
    border-bottom: none;
    background-color: #fff;
    color: #000;
}

.mainWindow {
    margin-top: 10px
}

.tabMenu {
    background-color: #2eb076;
}

.tabContent {
    border: 1px #ddd solid;
    border-top: none;
    padding: 10px;
}

#team {
    background: #b8e1cf70;
    margin-top: 10px;
    margin-bottom: 10px;
}

.teamTabs {
    padding: 0px;
    display: block;
    width: 100%;
    height: 290px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: 0px;
    cursor: pointer;
}

.fillImg {
    display: block;
    width: 100%
}

.is-flipped {
    transform: rotateY(180deg);
}

.teamJobList {
    font-size: 1.7rem;
    margin-top: 50px;
    list-style-type: none;
    float: left;
}

.rotator{
    transform: rotateY(180deg);
}

/*.teamTabs:hover{
    transform: rotateY(180deg);

}*/


.teamCard {
    transition: transform 100ms;
    position: absolute;
    width: 100%;
    height: 290px;
    backface-visibility: hidden;
    color: white;
}

.teamCardBack {
    background: blue;
    transform: rotateY(180deg);
}