<div class="container">
    <h1>Impressum</h1>
    <p>IT's 2morrow
    <br>
    Daniel Lichtenstern
    <br>
    Dr.-Bergmeisterstr. 96
    <br>
    85276 Pfaffenhofen
    <p>Email: info@its2morrow.de</p>
    <p>Telefon: +49 152 098 453 04</p>
    <h4>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz</h4>
    DE 312828597

    <h4>Haftungshinweis:</h4>
    <p>IT's 2morrow übernimmt keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
</div>