<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mainWindow">
                <div class="tabMenu" class="col-md-12">
                    <div style="height: 20px;">
                    </div>
                    <div class="col-md-4 navTab activeTab" id="XrTab">
                        <h4>XR / 3D</h4>
                    </div>
                    <div class="col-md-4 navTab" id="AppTab">
                        <h4>Mobile</h4>
                    </div>
                    <div class="col-md-4 navTab" id="WebTab">
                        <h4>Application</h4>
                    </div>
                </div>
                <div class="col-md-12 tabContent" id="tabContent">
                    <div class="col-md-4">
                        <img class="fillImg" src="https://arabesque.ch/wp-content/uploads/2017/02/HTC-Vive-e1487605089394.png">
                    </div>
                    <div class="col-md-8">
                        <b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <br></br>
                        <p><a href="/Home/XR">Weiterlesen</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/index.js"></script>