<script src="js/contact.js" type="text/javascript"></script>
<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <!-- Text input-->
            <div class="form-group col-md-12">
                <label class="col-md-4 control-label" for="nameinput">Name</label>
                <div class="col-md-4">
                    <input id="nameinput" required placeholder="Max Mustermann" class="form-control input-md" type="text" style="border-radius: 0px;">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group col-md-12">
                <label class="col-md-4 control-label" for="emailinput">Email</label>
                <div class="col-md-4">
                    <input id="emailinput" required placeholder="max.muster@example.com" class="form-control input-md" type="email" style="border-radius: 0px;">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group col-md-12">
                <label class="col-md-4 control-label" for="textarea">Ihr Anliegen</label>
                <div class="col-md-4">
                    <textarea required class="form-control" id="anliegeninput"  style="border-radius: 0px;"></textarea>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <div class="col-xs-11">
                    Mit dem Absenden dieser Kontaktanfrage akzeptieren Sie, dass Ihr angegebenen Daten gespeichert und verarbeitet werden dürfen
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span id="sendbutton" onclick="SendContact()" class="btn btn-primary" style="border-radius: 0px;">Senden</span>
                </div>
            </div>

        </fieldset>
    </form>
</div>