<footer style="background-color: #1c1c1c">
    <div class="container" style="color: #888; font-size: 15px; height: 40px;">
        <h4>
            <a href="@Url.Action("Impressum", "Home")" style="color: #888;">Impressum </a> /
            <a href="@Url.Action("Dsgvo", "Home")" style="color: #888;">Datenschutz</a>
        </h4>
    </div>
</footer>
<div class="alert alert-info alert-dismissible" id="dsgvoHint" style="position: fixed; bottom: 10px; right: 10px;">
    Mit der Nutzung der Seite stimmen sie der Verwendung von Cookies zu <a href="@Url.Action("Dsgvo","Home")">Weitere Informationen</a>
    <a href="#" class="btn-sm btn-info" data-dismiss="alert" aria-label="close" id="dsgvoAccept">Akzeptieren</a>
</div>