<script>
    window.addEventListener('load',
        function() {
            setTimeout(function() {
                    $('#loadSpin').addClass('hidden');
                    $('#content').removeClass('hidden');
                },
                00);
        });

</script>
<style>
    #loadSpin {
        
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2eb076;
        height: 120px;
        left: calc(50% - 120px);
        position: absolute;
        top: calc(50% - 120px);
        width: 120px;
    }

    @@-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }

        100% { -webkit-transform: rotate(360deg); }
    }

    @@keyframes spin {
        0% { transform: rotate(0deg); }

        100% { transform: rotate(360deg); }
    }
</style>
<div id="loadSpin">
</div>