<div class="container">
    <div class="hidden-xs">
        <a href="/">
            <img src="/img/example.png" height="75">
        </a>
    </div>
    <div class="visible-xs">
        <a href="/">
            <img src="/img/example.png" height="60">
        </a>
    </div>
</div>